body{
    background-color: #D0C7F3;
}
h1{
    text-align: center;
}
legend{
    font-size: large;
}
input{
    margin: 5px;
 }
 img{
     height: 100px;
     width: 100px;
 }
 form{
     width: 50px;
     height: 50px;
     align-items: center;

 }
 .column{
    display: flex;
    }
.column img{
   transform: translate(10px, 10px);
   display: flex;
    }
    nav{
        display: flex;
        justify-content: space-between;
        background-color: #A15F9C;
    }
    nav .column ul li {
        display: inline-flex;
        list-style: none;
        /* justify-content: space-between; */
        text-transform: uppercase;
        
    }
    nav .column ul li a {
        color:  rgba(240, 245, 240, 0.945);
        text-decoration: none;
        text-transform: uppercase;
    }