body{
    background-color: #D0C7F3;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #A15F9C;
   
}
nav .column ul li {
    display: inline-flex;
    list-style: none;
    /* justify-content: space-between; */
    text-transform: uppercase;
    justify-content: space-between;
    
}
nav .column ul li a {
    color:  rgba(240, 245, 240, 0.945);
    text-decoration: none;
    text-transform: uppercase;
}
img{
    height: 30vh;
    width: 30vw;
}
